.DS_Store
.dockerignore
.editorconfig
.env.local
.env.development
.env.development.local
.env.production.local
.eslintrc.json
.git
.gitignore
.prettierrc.json
.vscode
docker-compose.yml
Dockerfile
build/
coverage/
node_modules/
README.md
yarn-debug.log*
yarn-error.log*
