# Use LF line endings by default
* text eol=lf

# yarn.lock use auto line endings
yarn.lock text=auto

# Binary files
*.eot binary
*.gif binary
*.ico binary
*.jpg binary
*.otf binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary
